.basket-page {
  background-color: #f9f6f2;
  min-height: 100vh;
  padding: 2rem;
  direction: rtl;
  font-family: 'Assistant', sans-serif;
}

.basket-title {
  color: #4b3a2f;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.basket-card {
  background-color: #ffffff;
  border: 1px solid #e2d8cd;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

.basket-product-title {
  color: #5c4532;
  font-size: 1.5rem;
  font-weight: 600;
}

.basket-price {
  color: #7a4f27;
  font-weight: bold;
  font-size: 1.3rem;
}

.basket-input {
  border: 1px solid #c8b8a8;
  border-radius: 8px;
}
.trash-button {
  background-color:  #4b3a2f;      /* אדום-חום עמוק */
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

.trash-button:hover {
  background-color: #882f27;
}

